@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&family=Roboto+Mono:wght@100;300;400;500;600&display=swap');
*{
    margin: 0;padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

:root{
    --bg-color:#111;
    --main-color:#faf600;
    --text-color:#fff;
    --onmain-color:black;
    --cartbg-color:rgb(46, 46, 46);
}

&::-webkit-scrollbar{
    width: 1rem;
}

&::-webkit-scrollbar-track{
    background:var(--bg-color);
}

&::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

body{
    color: var(--text-color);
    background:var(--bg-color) ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 2rem;
}

section{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

/* header start */
header {
    width: 100%;
    background: #222;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    flex-grow: 1;
}

.logo img {
    max-height: 70px;
}

.user-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.user-nav a {
    margin-left: 1rem;
    color: var(--text-color);
}

.user-nav i{
    font-size: 30px;
    color: #fff;

    &:hover{
    color: #faf600;
    transform: scale(1.1);
}
}

/* profile block start */
.profile-block {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin-top: 5rem;
  }
  
  .avatar {
    margin-right: 20px;
  }
  
  .avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-info {
    flex: 1;
  }
  
  .username {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .full-name {
    font-size: 2rem;
    color: #666;
  }
  
  .btn {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--onmain-color);
    transition: background-color 0.3s ease;
    &:hover{
        background-color: #ccc902;
    }
}
/* profile block end*/

.order-history {
  margin-top: 1rem;
}

.order-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-btn {
  padding: 10px 10px;
  background: #ddd; /*this color for nonactive button*/
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-btn:hover {
  background-color: #eee;
}

.tab-btn.active {
  background-color: var(--main-color);
  color: #fff;
}

#cart_item{
  margin-left: 0;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stat-item {
  flex-basis: calc(33.33% - 20px);
  width: 200px;
  height: auto;
  background: transparent;
  border: 2px solid var(--main-color);
  color: var(--text-color);
  margin: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 9px;
}

.switchbtn{
  display:block;
  text-decoration:none;
  border: none;
  padding:15px;
  background:transparent;
  color:var(--text-color);
  height: 52px;
  font-size:20px;
  float:left;
  width:50%;
  text-align:center;
  cursor:pointer;
  transition:.5s ease;
  &:hover {
    background-color:var(--main-color);
    color:var(--onmain-color);
  }
  :active{
      background:var(--main-color);
      color:var(--onmain-color);
  }
}

.switchbtn.active{
  background:var(--main-color);
  color:var(--onmain-color);
}


.hidden {
  display: none;
}

.visible {
  display: flex;
}

#cart_cont.hidden {
  display: none;
}

@media (max-width: 768px) {
 .stat-item {
    flex-basis: 100%;
    margin: 10px 0;
  }
}

.order_link {
  text-decoration: none; 
  color: inherit; 
}

.order_link:visited {
  color: inherit; 
}